 * {
     margin: 0;
     padding: 0;
 }
.slide{
   display: flex;
   position: relative;
   overflow: hidden;
}
.slide>div{
   position: absolute;
   width: 100%;
   margin-left: 200px;
   
   transition: 1s;
}
 #signup{
    display: flex;
    justify-content: flex-end;

 }
 #search{
    display: flex;
    justify-content: space-between;
 }
 #search>:nth-child(1){
    display: flex;
 }
 #searchbar{
    display: flex;
 }
 #nav{
    display: flex;
    justify-content: space-evenly;
 }
 #img1{
    display: flex;
    justify-content: space-evenly;
 }
 #img1>img{
    width: 20%;
 }
 #img2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;

 }
 #img2 img{
    width: 100%;
 }
 #img2>:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 4;    
 }
 #img2>:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 4;
 }
 #img2>:nth-child(6) {
    grid-column-start: 1;
    grid-column-end: 4;
 }
  #img2>:nth-child(7) {
     grid-column-start: 1;
     grid-column-end: 4;
  }
 